<div class="login-container">
  <header>
    <img src="assets/logo.png" alt="Колхоз" class="logo" />
  </header>
  <div class="content">
    <div class="login-form">
      <h1>Войдите в аккаунт</h1>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" [(ngModel)]="autorization.login" name="login" placeholder="Логин"/>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="autorization.password" name="password" placeholder="Пароль"/>
        </div>
        <button type="submit" class="btn-login">Войти</button>
      </form>
    </div>
    <div class="login-image">
      <img src="assets/kolhoz-poster.jpg" alt="К нам в колхоз" />
    </div>
  </div>
</div>
